@{
    ViewBag.Title = "Home Page";
    var datetimeNow = DateTime.Now.ToString("dd/MM/yyyy hh:MM:sss");

    var isleapyear = "this is NOT leapYear";
    if (DateTime.IsLeapYear(DateTime.Now.Year))
    {
        isleapyear = "this is leapYear";
    }

    var list = new List<WebFullStack.Models.StudentInfor>();
    for (int i = 0; i < 5; i++)
    {
        list.Add(new WebFullStack.Models.StudentInfor { Id = (i + 1), Name = "Name " + i });
    }
}
<div class="jumbotron">
    <h1>KHÓA HỌC ASP.NET BACKEND FULLSTACK THẦY QUÂN</h1>
    <h1>Razor View Engine ngày : @datetimeNow</h1>
    <h1>@DateTime.Now.Year @isleapyear</h1>
</div>

@Html.ActionLink("bấm vào tôi", "Index", new { id = DateTime.Now.Year })

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (list != null && list.Count > 0)
        {
            foreach (var item in list)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }

        }

    </tbody>
</table>
@Html.ValidationSummary(false, "Hãy điền đầy đủ các thông tin bên dưới", new { @class = "danger" })
@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="hidden" id="txtStudetId" value="@Model.Id" />
        @*@Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name, "Tên không được trống ", new { @class = "text-danger" })*@
        <input type="text" id="txtUserName" placeholder="nhập tên" class="form-control" value="@Model.Name" />
        @*<input type="text" id="txtEmail" placeholder="nhập tên" class="form-control" />*@
        <button type="submit" class="btn btn-primary" id="btnSend">Cập nhật </button>

    </div>
}
