@{
    ViewBag.Title = "Home Page";
    var datetimeNow = DateTime.Now.ToString("dd/MM/yyyy hh:MM:sss");

    var isleapyear = "this is NOT leapYear";
    if (DateTime.IsLeapYear(DateTime.Now.Year))
    {
        isleapyear = "this is leapYear";
    }

    var list = new List<WebFullStack.Models.StudentInfor>();
    for (int i = 0; i < 5; i++)
    {
        list.Add(new WebFullStack.Models.StudentInfor { Id = (i + 1), Name = "Name " + i });
    }
}

<!--<div class="jumbotron">
    <h1>KHÓA HỌC ASP.NET BACKEND FULLSTACK THẦY QUÂN</h1>-->
    @*<h1>Razor View Engine ngày : @datetimeNow</h1>
        <h1>@DateTime.Now.Year @isleapyear</h1>*@
<!--</div>-->

@*@Html.ActionLink("bấm vào tôi", "Index", new { id = DateTime.Now.Year })

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (list != null && list.Count > 0)
            {
                foreach (var item in list)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                    </tr>
                }

            }

        </tbody>
    </table>*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Validation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Validation</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Quick Example <small>jQuery Validation</small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="quickForm" novalidate="novalidate">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Chọn lớp</label>
                                <select id="ddlStudentClass" class="form-control" style="width:50%"></select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>
    $(document).ready(function () {
        LoadClassStudent();
        loadPartial();

        $("#ddlStudentClass").change(function () {
            var value = $("#ddlStudentClass").val();
            var checkBoxData = $("#exampleCheck1").is(":checked");
        });
    });

    function loadPartial() {
        var token = $("input[name=__RequestVerificationToken]").val();
        if (token == null) {
            alert("token không được trống");
            return;
        }

        $.ajax({
            type: 'POST',
            url: "/Student/PartialViewDemo",
            data: {
                __RequestVerificationToken: token
            },
            success: function (data) {
                $("#StudentPartial").html(data);

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function GetDataClassStudent() {
        var value = $("#ddlStudentClass").val();
        alert(value);
    }

    function LoadClassStudent() {
        $.ajax({
            type: 'GET',
            url: "/Student/StudentClassGetAll",
            data: {},

            success: function (data) {
                var html = "";
                if (data != null) {
                    $.each(data,function (index, element) {
                        html += "<option value=\"" + element.ClassId + "\">" + element.ClassName + "</option>";
                    });
                    $("#ddlStudentClass").append(html);
                }
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function InsertUpdate() {

        debugger;
        var password = $("#exampleInputPassword1").val();
       

        var inputdata = {
            abc: password
        };

        //Utils.Loading();
        $.ajax({
            type: 'POST',
            url: "/Student/GetDataForm",
            data: inputdata,
            success: function (data) {
                // Utils.UnLoading();
                var responseCode = data.responseCode;
                var Description = data.Description;
                if (responseCode > 0) {
                    // ProductCtrl.showPopup(Description, 1);
                    alert(Description)
                } else {

                    //ProductCtrl.showPopup(Description, 0);
                    alert(Description);
                }

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }
</script>